/* Reset de estilos e configuração global da fonte */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff; /* Fundo branco */
    color: #000000; /* Texto preto */
    font-size: 18px; /* Aumentado de 16px (padrão) para 18px */
    overflow-x: hidden;
}

/* Configuração do cabeçalho */
.header {
    background-color: #ffffff; /* Fundo branco */
    width: 100%;
    position: fixed;
    z-index: 1000;
}

/* Quando o JavaScript estiver ativado, o header será fixo */
.js .header {
    position: fixed;
    width: 100%;
}

/* Garantindo que as imagens não ultrapassem o tamanho do container */
img {
    max-width: 100%;
}

/* Centralização do conteúdo */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1em;
    padding-right: 1em;
}

/* Estilização do logo/texto no cabeçalho */
.logo-text {
    text-transform: uppercase;
    background-color: #ffffff; /* Fundo branco */
    font: 24px;
    margin: 0;
    padding: 23.5px;
    display: block;
    float: left;
    text-decoration: none;
    font-weight: bold;
    color: #000000; /* Preto */
}

/* Menu de navegação */
.header__nav {
    clear: left;
}

.header__nav ul {
    margin: 0;
    padding: 0;
}

.header__nav li {
    list-style-type: none;
    background: #e0e0e0; /* Cinza claro para separação */
    text-align: center;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}

.header__nav a {
    text-decoration: none;
    color: #000000; /* Preto */
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
    padding: 25px 0;
}

.header__nav a:hover {
    color: #555555; /* Cinza escuro para hover */
    transition: .5s ease;
}

/* Botão do menu responsivo */
.header__btnMenu {
    position: absolute;
    right: 0;
    margin: 1.5em;
    background: transparent;
    border: none;
    font-size: 14px;
}

/* Suavização da transição do menu */
.js .header__nav {
    transition: max-height 1s;
}

/* Configuração da seção principal */
.principal {
    height: 60vh;
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;

}

.principal__title {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    font-size: 32px; /* Aumentado de 28px para 32px */
    font-weight: 600;
    padding: 30px 20px;
}

.principal__text {
    background-color: #000000; /* Fundo preto */
    margin: 5px 30px 35px;
    color: #ffffff; /* Texto branco */
    padding: 20px;
    font-size: 18px; /* Aumentado de 16px para 18px */
}

/* Estilos para a seção de fotos */
.fotos {
    background-color: #ffffff;
    padding: 80px 0;
}

.fotos__title {
    text-align: center;
    margin-bottom: 40px;
    font-family:'Open Sans', sans-serif ;
}

.fotos__title h2 {
    font-size: 28px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}

.fotos__title h3 {
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
}

.fotos-container {
    padding: 10px;
}

.fotos-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colunas por linha no computador */
    gap: 20px;
    justify-items: center;
}

/* Adicionar responsividade para telas menores */
@media (max-width: 1200px) {
    .fotos-cards {
        grid-template-columns: repeat(4, 1fr); /* 4 colunas em telas médias */
    }
}

@media (max-width: 900px) {
    .fotos-cards {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas menores */
    }
}

@media (max-width: 600px) {
    .fotos-cards {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas pequenas */
        
    }
}

@media (max-width: 400px) {
    .fotos-cards {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}

.fotos-card {
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fotos-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.fotos-card-content {
    position: relative;
}

.fotos-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.fotos-card-title {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Texto visível em telas menores */
@media (max-width: 900px) {
    .fotos-card-title {
        opacity: 1; /* Torna o texto visível nas telas menores */
        font-size: 15px;
    }

}

/* Hover no texto (apenas para telas grandes) */
.fotos-card:hover .fotos-card-title {
    opacity: 1; /* O texto aparece ao passar o mouse na versão desktop */
}

/* Estilização da seção de feedbacks */
.feedbacks {
    background-color: #ffffff; /* Fundo branco */
    padding: 80px 0;
}

.feedbacks__title {
    text-align: center;
    margin-bottom: 40px;
}

.feedbacks__title h2 {
    font-size: 28px; /* Aumentado de 24px para 28px */
    color: #000000; /* Preto */
    text-transform: uppercase;
    font-weight: 400;
}

.swiper-container {
    width: 100%;
    padding: 20px 0;
    overflow: hidden; /* Garante que o conteúdo não ultrapasse o container */
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feedback-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.feedback-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.feedback-text {
    font-size: 18px;
    color: #000000; /* Preto */
    margin-bottom: 10px;
}

.feedback-author {
    font-size: 16px;
    color: #555555; /* Cinza escuro */
    font-style: italic;
}

/* Rodapé básico na cor preta */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Responsividade para telas maiores */
@media screen and (min-width: 1025px) {
    .container_principal {
        background-color: #ffffff; /* Fundo branco */
    }

    .principal {
        max-width: 2000px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .header {
        position: fixed;
        z-index: 1000;
        background: #f8f8f8; /* Cinza muito claro */
        max-width: 2000px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }

    .header a:hover{
        color: #000;
        text-decoration-line: none;
    }

    .logo-text {
        width: 25%;
        box-sizing: border-box;
    }

    .header__btnMenu {
        display: none;
    }

    .header__nav {
        max-width: 2000px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        clear: right;
    }

    .header__nav ul {
        display: flex;
        justify-content: space-around;
    }

    .header__nav li {
        border-bottom: none;
        flex-grow: 1;
    }

    .header__nav a {
        background: #ffffff; /* Fundo branco */
    }

    .fotos-articles__thumbs {
        grid-template-columns: repeat(6, 1fr);
    }

    .carousel-container {
        background-color: #ffffff; /* Fundo branco */
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel {
        width: 80%;
        max-width: 2000px;
    }

    .fotos-container {
        display: flex;
        justify-content: center;
        background-color: #ffffff; /* Fundo branco */
    }

    .fotos-articles__thumbs {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        max-width: 2400px;
        width: 80%;
    }

    .fotos-articles__thumbs img {
        transition: filter 0.3s ease;
    }

    .fotos-articles__thumbs img:hover {
        filter: brightness(70%);
    }

    .feedback-text {
        font-size: 28px;
        color: #000000; /* Preto */
        margin-bottom: 10px;
    }
    
    .feedback-author {
        font-size: 26px;
        color: #555555; /* Cinza escuro */
        font-style: italic;
    }

    .feedbacks__title h2 {
        font-size: 32px; /* Aumentado de 24px para 28px */
        color: #000000; /* Preto */
        text-transform: uppercase;
        font-weight: 400;
    }
}